<nav class="navbar sticky-top navbar-light bg-light text-center">

    <div class="col-4">
      <h5>
        Questions
      </h5>
    </div>
    <div class="col-3">
      <h5>
        Meta Tags
      </h5>
    </div>
    <div class="col-3">
      <h5>
        Comments
      </h5>
    </div>
    <div class="col-2">
      <h5>
        Confirm Actions
      </h5>
    </div>


</nav>
