

<!-- Modal -->
<!-- Modal HTML Markup -->
<div id="update_Modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Confirm Update</h1>
            </div>
            <div class="modal-body">
            <form role="form" method="POST" action="/">
                    <input type="hidden" name="id" id="id" value="">
                    <div class="form-group">
                        <label class="control-label">Question</label>
                        <div>
                            <textarea rows="5" cols="40" aria-autocomplete="list" aria-haspopup="true"  type="text" class="form-control input-lg" name="question" id="question" value=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Meta Tags</label>
                        <div>
                            <textarea rows="5" cols="40" aria-autocomplete="list" aria-haspopup="true"  type="text" class="form-control input-lg" name="meta" id="meta" value=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Comments</label>
                        <div>
                            <textarea rows="2" cols="10" aria-autocomplete="list" aria-haspopup="true" type="text" class="form-control input-lg" name="comment" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <div>
                            <input type="password" class="form-control input-lg" name="password_confirmation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">
                              Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
