<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
      <img src="/img/1.png" alt="ERROR"
      style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;"/>
      <div>
      <h1>ERROR HAS OCCURED !!! </h1>
      <h2>ERROR CODE - <%= code %> </h2>
      <h3>
        <%= status %>
      </h3>
      <h6>
        <%= message %>
      </h6>
      </div>
      </div>

    </div>





  </body>
</html>
