
<% include ../partials/head %>
  <body>
    <% include ../partials/nav %>

  <div class="container">
    <h1>
      Dynamic Data flowing
    </h1>
    <br />
    <br />


      <div id="updateSucess" class="alert alert-primary alert-dismissible fade is-hidden" role="alert">
      <strong>Update Sucessful!</strong> your files have been updated
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>


        <div id="deleteSucess" class="alert alert-danger alert-dismissible fade is-hidden" role="alert">
        <strong>Delete Sucessful!</strong> your files have been deleted
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>


        <div  id="error" class=" alert alert-warning alert-dismissible fade is-hidden" role="alert">
        <strong>OH uhh..... </strong> Seems to be a problem here :(
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>





    <% include ../partials/header %>

    <ul class="list-group list-group-flush">
      <% datas.forEach(function (data){   %>
        <% const { question  , answers } = data; %>
      <li class="list-group-item list-group-item-action">
         <% include ../partials/rowdata %>
      </li>
      <% }); %>
    </ul>
<!-- PAGINATION HERE  -->
<nav aria-label="Page navigation example">
    <% if (pageCount > 1) { %>
                   <ul class="pagination justify-content-center">
                       <% if (currentPage > 1) { %>
                           <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
                       <% }  %>
                       <% var x = 1; %>
                       <% if(currentPage > 5 ){ %>
                       <% x = x + (currentPage - 4); %>
                       <% } if(x !== 1 ){  %>
                           <li class="disabled page-item"><a class="page-link">...</a></li>
                       <% } %>
                       <% for ( x; x <= pageCount; x++) { %>
                           <% if (currentPage == x ) { %>
                               <li class="active page-item">
                                 <a class="page-link">
                                 <%= currentPage %>
                                 </a>
                               </li>
                           <% } else { %>
                               <li class="page-item">
                                 <a class="page-link" href="/?page=<%= x %>">
                                   <%= x %>
                                 </a>
                               </li>
                           <% } %>
                           <% if (x == (currentPage + 4)) { %>
                               <li class="disabled page-item"><a class="page-link">...</a></li>
                           <% break;   %>
                           <% } %>
                       <% } %>
                       <% if (currentPage != pageCount) { %>
                          <li class="page-item">
                            <a class="page-link" href="/?page=<%= Math.floor(pageCount) %>">
                            Last
                            </a>
                        </li>
                       <% }  %>
                   </ul>
               <% } %>
</nav>

<!-- PAGINATION ENDS  -->




  </div>




<% include ../partials/footer %>
