
<% include ../partials/head %>
  <body>
    <% include ../partials/nav %>

  <div class="container">
    <h1>
      Dynamic Data flowing
    </h1>
    <br />
    <br />


      <div id="updateSucess" class="alert alert-primary alert-dismissible fade is-hidden" role="alert">
      <strong>Update Sucessful!</strong> your files have been updated
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>


        <div id="deleteSucess" class="alert alert-danger alert-dismissible fade is-hidden" role="alert">
        <strong>Delete Sucessful!</strong> your files have been deleted
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>


        <div  id="error" class=" alert alert-warning alert-dismissible fade is-hidden" role="alert">
        <strong>OH uhh..... </strong> Seems to be a problem here :(
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>





    <% include ../partials/header %>

    <ul class="list-group list-group-flush">
      <% datas.forEach(function (data){   %>
        <% const { question  , answers } = data; %>
      <li class="list-group-item list-group-item-action">
         <% include ../partials/rowdata %>
      </li>
      <% }); %>
    </ul>

  </div>




<% include ../partials/footer %>
